<title>Login</title>
<div class="row d-flex justify-content-center py-5">
    <div class="col-md-8">
        <div class="card" style="background-color: #efefef;">
            <div class="row">
                <div class="col-md-5 d-flex justify-content-center align-items-center">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <img src="../../../content/images/login_img.svg" style="width: 300px;"/>
                    </div>
                </div>
                <div class="col-md-7 py-5 px-5">
                    <h3>Login Chat</h3>
                    <form ng-submit="vm.userLogin()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" ng-model="vm.userCredentials.email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" ng-model="vm.userCredentials.password">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary form-control">Login</button>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-secondary">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
